@using MvcStok.Models.Entity
@model List<Urunler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Urun ID</th>
        <th>Urun Adi</th>
        <th>Markasi</th>
        <th>Kategori</th>
        <th>Fiyat</th>
        <th>Stok</th>
    </tr>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.UrunID</th>
                <td>@item.UrunAd</td>
                <td>@item.Marka</td>
                <td>@item.Kategoriler.KategoriAD</td>
                <td>@item.Fiyat</td>
                <td>@item.Stok</td>
            </tr>
        }
    </tbody>

</table>
<a href="/Urun/UrunEkle" class="btn btn-success">Yeni Urun Ekle</a>
