@using MvcStok.Models.Entity
@model List<Urunler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table id="tbl" class="table table-bordered">
    <thead>
        <tr>
            <th>Urun ID</th>
            <th>Urun Adi</th>
            <th>Markasi</th>
            <th>Kategori</th>
            <th>Fiyat</th>
            <th>Stok</th>
            <th>Sil</th>
            <th>Guncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.UrunID</th>
                <td>@item.UrunAd</td>
                <td>@item.Marka</td>
                <td>@item.Kategoriler.KategoriAD</td>
                <td>@item.Fiyat</td>
                <td>@item.Stok</td>
                <td><a href="/Urun/Sil/@item.UrunID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Urun/UrunGetir/@item.UrunID" class="btn btn-warning">Guncelle</a></td>
            </tr>
        }
    </tbody>

</table>
<a href="/Urun/UrunEkle" class="btn btn-success">Yeni Urun Ekle</a>

@*DataTable: https://datatables.net/*@

<script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css" rel="stylesheet" />

<script>
    $(document).ready(function () {
        $('#tbl').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.13.2/i18n/tr.json"
            }
        });
    });
</script>