@model MvcStok.Models.Entity.Urunler
@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Urun", FormMethod.Post))
{
    <div>
        @Html.LabelFor(x => x.UrunID, "Urun ID")
        @Html.TextBoxFor(x => x.UrunID, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.UrunAd, "Urun Ad")
        @Html.TextBoxFor(x => x.UrunAd, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Marka, "Marka")
        @Html.TextBoxFor(x => x.Marka, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.UrunKategori, "Urun Kategori")
        @Html.DropDownListFor(x=>x.Kategoriler.KategoriID,(List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Fiyat, "Fiyat")
        @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Stok, "Stok")
        @Html.TextBoxFor(x => x.Stok, new { @class = "form-control" })
        <br />
        <button class="btn btn-success">Urunu Guncelle</button>
    </div>
}

