@using MvcStok.Models.Entity
@model List<Musteriler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Index", "Musteri", FormMethod.Get))
{
    <p>
        <b>Aranacak Musteri Adi: </b>@Html.TextBox("p")
        <input type="submit" value="Ara"/>
    </p>
}

<table class="table table-bordered">
    <tr>
        <th>Musteri ID</th>
        <th>Musteri Adi</th>
        <th>Musteri Soyadi</th>
        <th>Sil</th>
        <th>Guncelle</th>
        <th>Alert</th>
    </tr>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.MusteriID</th>
                <td>@item.MusteriAd</td>
                <td>@item.MusteriSoyad</td>
                <td><a href="/Musteri/Sil/@item.MusteriID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Musteri/MusteriGetir/@item.MusteriID" class="btn btn-warning">Guncelle</a></td>
                <td>
                    @Html.ActionLink("SilAlertli", "Sil", new { id = item.MusteriID },
               new { @class = "btn btn-warning", onclick = "return confirm('Gercekten Silmek Istiyor musunuz?')" })
            </td>
        </tr>
    }
    </tbody>

</table>

<a href="/Musteri/YeniMusteri/" class="btn btn-success">Yeni Urun Ekle</a>